/* site.css  */
header, footer {
    background-color: lightgray;
    border: solid 1px green;
    font-family: 'Times New Roman', serif;
  }

footer {
    padding: 10px;
    border-radius: 3px;
  }
  body {
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-size: 14px;
  }

#main {
    border: solid 1px #ccc;
    border-radius: 5px;
    color: #202020;
    margin: 20px 0;
    padding: 5px;
}